<main class="main-container">
  <section class="main-container-section">
      <article class="section-container-article">
          <header class="main-container-header">
              <h2>Vestido</h2>
          </header>
          <img src="../assets/index1.jpg" alt="Imagem de um sapato nike" class="article-container-img">
          <footer class="main-container-footer">
              <p>R$ <span>29,90</span></p>
          </footer>
      </article>
      <article class="section-container-article">
          <header class="main-container-header">
              <h2>Camisa</h2>
          </header>
          <img src="../assets/index2.jpg" alt="Imagem de um sapato nike" class="article-container-img">
          <footer class="main-container-footer">
              <p>R$ <span>20,90</span></p>
          </footer>
      </article>
      <article class="section-container-article">
          <header class="main-container-header">
              <h2>Lingerie</h2>
          </header>
          <img src="../assets/index3.jpg" alt="Imagem de um sapato nike" class="article-container-img">
          <footer class="main-container-footer">
              <p>R$ <span>21,99</span></p>
          </footer>
      </article>
      <article class="section-container-article">
          <header class="main-container-header">
              <h2>Calças</h2>
          </header>
          <img src="../assets/index4.jpg" alt="Imagem de um sapato nike" class="article-container-img">
          <footer class="main-container-footer">
              <p>R$ <span>26,00</span></p>
          </footer>
      </article>
  </section>

  <section class="main-container-section main-container-section-margin">
      <article class="section-container-article">
          <h3>Conjunto Masculino</h3>
          <img src="../assets/Spotlight1.jpg" alt="Imagem de um sapato nike" class="article-container-img">
      </article>
      <article class="section-container-article">
          <h3>Conjunto Feminino</h3>
          <img src="../assets/Spotlight2.jpg" alt="Imagem de um sapato nike" class="article-container-img">
      </article>
      <article class="section-container-article">
          <h3>conjunto Academia Masculino</h3>
          <img src="../assets/Spotlight3.jpg" alt="Imagem de um sapato nike" class="article-container-img">
      </article>
      <article class="section-container-article">
          <h3>conjunto Social Feminino</h3>
          <img src="../assets/Spotlight4.jpg" alt="Imagem de um sapato nike" class="article-container-img">
      </article>
  </section>

</main>
