<main class="main-container">
  <section class="main-container-section">
      <article class="section-container-article">
          <header class="main-container-header">
              <h2>Bermuda</h2>
          </header>
          <img src="../assets/venda1.jpg" alt="Imagem de um sapato nike" class="article-container-img">
          <footer class="main-container-footer">
              <p>rodape</p>
          </footer>
      </article>
      <article class="section-container-article">
          <header class="main-container-header">
              <h2>Camisa</h2>
          </header>
          <img src="../assets/venda3.webp" alt="Imagem de um sapato nike" class="article-container-img">
          <footer class="main-container-footer">
              <p>rodape</p>
          </footer>
      </article>
      <article class="section-container-article">
          <header class="main-container-header">
              <h2>Calça</h2>
          </header>
          <img src="../assets/venda2.webp" alt="Imagem de um sapato nike" class="article-container-img">
          <footer class="main-container-footer">
              <p>rodape</p>
          </footer>
      </article>
      <article class="section-container-article">
          <header class="main-container-header">
              <h2>Blusas</h2>
          </header>
          <img src="../assets/venda4.webp" alt="Imagem de um sapato nike" class="article-container-img">
          <footer class="main-container-footer">
              <p>rodape</p>
          </footer>
      </article>
  </section>

  <section class="main-container-section main-container-section-margin">
      <article class="section-container-article">
          <h3>Subtitulo1</h3>
          <img src="../assets/loja1.jfif" alt="Imagem de um sapato nike" class="article-container-img">
      </article>
      <article class="section-container-article">
          <h3>Subtitulo1</h3>
          <img src="../assets/loja2.jfif" alt="Imagem de um sapato nike" class="article-container-img">
      </article>
      <article class="section-container-article">
          <h3>Subtitulo1</h3>
          <img src="../assets/loja3.jpg" alt="Imagem de um sapato nike" class="article-container-img">
      </article>
      <article class="section-container-article">
          <h3>Subtitulo1</h3>
          <img src="../assets/loja4.jpg" alt="Imagem de um sapato nike" class="article-container-img">
      </article>
  </section>

</main>
