<div>
  <br />
  <mat-card>
    <section class="mat-typography">
      <h3>Venda </h3>
    </section>
    <mat-divider></mat-divider>
    <br /><br />
    <form [formGroup]="createForm" class="create-form">
      <div>
        <div class="form-group">
          <div class="col-md-9">
            <h2><span>Selecione o Cliente:</span></h2>
            <select (change)="selectChangeHandler($event)">
              <option *ngFor="let cliente of iClientes" value="{{cliente.nome}}">{{ cliente.nome }}</option>
            </select>
          </div>
        </div>
      </div>

      <mat-form-field class="field-full-width">
        <input matInput placeholder="Desconto" formControlName="desconto" #desconto />
      </mat-form-field>

      <mat-form-field class="field-full-width">
        <mat-select placeholder="pagamento" formControlName="Pagamento" #pagamento>
          <mat-option value="avista"> Avista</mat-option>
          <mat-option value="parcelado"> Parcelado</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="field-full-width">
        <input matInput placeholder="Parcelas" formControlName="parcela" #parcela />
      </mat-form-field>

      <table mat-table [dataSource]="iProdutos" class="table-container-produto">
        <ng-container matColumnDef="descricao" #descricao>
          <th mat-header-cell *matHeaderCellDef>Desc</th>
          <td mat-cell *matCellDef="let element">{{ element.descricao }}</td>
        </ng-container>

        <ng-container matColumnDef="valorUnitario" #valorUnitario>
          <th mat-header-cell *matHeaderCellDef>Valor</th>
          <td mat-cell *matCellDef="let element">
            {{ element.valorUnitario }}
          </td>
        </ng-container>

        <ng-container matColumnDef="observacao" #observacao>
          <th mat-header-cell *matHeaderCellDef>Obs</th>
          <td mat-cell *matCellDef="let element">
            {{ element.marca }},{{ element.observacao }}
          </td>
        </ng-container>

        <ng-container matColumnDef="tamanho" #tamanho>
          <th mat-header-cell *matHeaderCellDef>Tam</th>
          <td mat-cell *matCellDef="let element">{{ element.tamanho }}</td>
        </ng-container>

        <ng-container matColumnDef="quantidade" #quantidade>
          <th mat-header-cell *matHeaderCellDef>Estoque</th>
          <td mat-cell *matCellDef="let element">{{ element.quantidade }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="mat-column-right">
            Qtde
          </th>
          <td mat-cell *matCellDef="let element" class="mat-column-right">
            <input type="qtdCompra" id="qtdCompra" #qtdCompra />
            <button mat-button color="primary" (click)="
                addProdtuto(
                  element.descricao,
                  element.valorUnitario,
                  element.observacao,
                  element.tamanho,
                  qtdCompra.value
                )
              ">
              Comprar
            </button>
            <button mat-button color="warn" (click)="deleteProduto(element.descricao)">
              Remover
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-divider></mat-divider>
      <br />
      <button mat-raised-button color="accent" routerLink="/vendalist" class="main-container-back">
        Voltar
      </button>

      <button type="submit" (click)="addVenda(desconto.value,pagamento.value,parcela.value)" mat-raised-button color="primary"
        class="main-container-next">
        Salvar
      </button>
    </form>
  </mat-card>
</div>