nav {
  margin: 0px;
}

.tituloPrincipal {
  text-transform: uppercase;
  font-size: 2.5em;
  margin: 0 auto;
  display: block;
  text-align: center;
  text-shadow: 2px 5px #ccc;
}

.header-conteiner-imagem {
  height: 0px;
  width: 0px;
}

.menuPrincipal {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
}

.menuPrincipal dt {
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.menuPrincipal dt {
  width: 100%;
  text-align: center;
  display: inline-block;
  list-style-position: outside;
  font-size: 17px;
  margin: 0;
  background-color: #000;
  padding: 10px;
  box-sizing: border-box;
}

.menuPrincipal dt {
  text-decoration: none;
  color: inherit;
}

.footer-container {
  clear: both;
}

.menuPrincipal dt:hover {
  text-decoration: none;
  color: #00f;
  cursor: pointer;
  background-color: #ddd;
}

.imagemPrincipal {
  width: 100px;
  height: 100px;
}

.footer-container {
  background-color: #000;
  text-align: left;
  color: #fff;
  font-size: 10px;
  overflow: hidden;
}

.footer-container-icon {
  display: inline-block;
  float: right;
  font-size: 1.5rem;
  padding: 0.1rem 0.8rem;
  text-decoration: none;
  color: inherit;
}

.footer-container-icon:hover {
  color: #aaa;
}

.footer-container-texto {
  font-size: 1.5em;
  clear: both;
}

.footer-container p {
  display: block;
  width: 60px;
  font-size: 1em;
  background: red;
  margin: 0;
  padding: 0;
}

iframe {
  text-align: left;
  width: 200px;
  height: 150px;
  transition-property: width, height;
  transition-duration: 1s;
  transition-delay: 0s;
}

iframe:hover {
  width: 500px;
  height: 400px;
}

.footer-container-footer {
  display: block;
  margin: 0;
  font-size: 4px;
  text-align: center;
}

.footer-container h3 {
  display: block;
  text-align: center;
  margin: 0;
}

/* --- MEDIA ---*/

@media screen and (min-width: 700px) {
  .tituloPrincipal {
    font-size: 4em;
  }

  .footer-container-footer {
    font-size: 9px;
  }

  .footer-container-texto {
    font-size: 3em;
  }

  .teste,
  .menuPrincipal {
    display: block;
  }

  .menuPrincipal dt {
    display: inline-block;
    width: 16.665%;
  }

  .menuPrincipal dt {
    text-transform: uppercase;
    letter-spacing: 0em;
  }

  .texste {
    width: 100%;
  }

  iframe {
    width: 300px;
    height: 180px;
  }

  .footer-container p {
    display: block;
    width: 100px;
    font-size: 2em;
    background: blue;
  }

  iframe:hover {
    width: 700px;
    height: 500px;
  }

  .header-conteiner-imagem {
    height: 350px;
    max-height: 100%;
    width: 80%;
    margin: 0 auto;
    background-image: url("../assets/index.jfif");
    background-position: top right;
  }

  .footer-container-icon {
    display: inline-block;
    font-size: 3rem;
    padding: 0.4rem 2.5rem;
  }
}

@media screen and (min-width: 1400px) {
  .tituloPrincipal {
    font-size: 4em;
  }

  iframe {
    width: 400px;
    height: 230px;
  }

  .footer-container p {
    display: block;
    width: 150px;
    font-size: 3em;
    background: green;
  }

  .footer-container-texto {
    font-size: 5em;
  }

  .teste,
  .menuPrincipal {
    display: block;
  }

  .menuPrincipal dt {
    display: inline-block;
    width: 16.665%;
  }

  .footer-container-footer {
    font-size: 9px;
  }

  iframe:hover {
    width: 1000px;
    height: 650px;
  }

  .texste {
    width: 100%;
  }

  .header-conteiner-imagem {
    height: 495px;
    width: 100%;
    background-image: url("../assets/index.jfif");
    background-position: top right;
  }

  .footer-container-icon {
    display: inline-block;
    font-size: 5rem;
    padding: 0.6rem 5rem;
  }
}
