
<header>
  <section class="texste">
      <div class="header-conteiner-imagem"></div>
  </section>
  <nav class="teste">
      <dl class="menuPrincipal">
          <dt><a routerLink="/menu">Inicio</a></dt>
          <dt><a routerLink="/produtolist">Produto</a></dt>
          <dt><a routerLink="/fornecedorlist">Fornecedor</a></dt>
          <dt><a routerLink="/clientelist">Cliente</a></dt>
          <dt><a routerLink="/compralist">Compra</a></dt>
          <dt><a routerLink="/vendalist">Venda</a></dt>
      </dl>
  </nav>
  <h1 class="tituloPrincipal">Jeh Butique</h1>

</header>

<router-outlet></router-outlet>

<footer class="footer-container">
  <a href="#" class="icon-facebook footer-container-icon"></a>
  <a href="#" class="icon-twitter footer-container-icon"></a>
  <a href="#" class="icon-google-plus footer-container-icon"></a>
  <p class="footer-container-texto">Douglas Royer</p>
  <p>Luiz Felipe Pereira Royer</p>
  <p>Rua</p>
  <p>Cidade</p>
  <p>copy</p>
</footer>
