<mat-toolbar>

</mat-toolbar>

<div>
</div>

<header>
  <section class="texste">
      <div class="header-conteiner-imagem"></div>
  </section>
  <nav class="teste">
      <dl class="menuPrincipal">
          <dt><a href="index.html">Inicio</a></dt>
          <dt><a href="#">Produto</a></dt>
          <dt><a href="#">Fornecedor</a></dt>
          <dt><a href="#">Cliente</a></dt>
          <dt><a href="#">Compra</a></dt>
          <dt><a href="#">Venda</a></dt>
      </dl>
  </nav>
  <h1 class="tituloPrincipal">Jeh Butique</h1>

</header>
<!--

-->

<router-outlet></router-outlet>
<footer class="footer-container">
  <a href="#" class="icon-facebook footer-container-icon"></a>
  <a href="#" class="icon-twitter footer-container-icon"></a>
  <a href="#" class="icon-google-plus footer-container-icon"></a>
  <p class="footer-container-texto">Douglas Royer</p>
  <p>Luiz Felipe Pereira Royer</p>
  <p>Rua</p>
  <p>Cidade</p>
  <p>copy</p>
</footer>
