
<header>
  <section class="texste">
      <div class="header-conteiner-imagem"></div>
  </section>
  <nav class="teste">
      <dl class="menuPrincipal">
          <dt routerLink="/menu">Inicio</dt>
          <dt routerLink="/produtolist">Produto</dt>
          <dt routerLink="/fornecedorlist">Fornecedor</dt>
          <dt routerLink="/clientelist">Cliente</dt>
          <dt routerLink="/compralist">Compra</dt>
          <dt routerLink="/vendalist">Venda</dt>
      </dl>
  </nav>
  <h1 class="tituloPrincipal">Jeh Butique</h1>

</header>

<router-outlet></router-outlet>

<footer class="footer-container">
  <a href="https://www.facebook.com/Jeh-Boutique-1214711338727055/" class="icon-facebook footer-container-icon"></a>
  <a href="#" class="icon-twitter footer-container-icon"></a>
  <a href="#" class="icon-google-plus footer-container-icon"></a>
  <h3 class="footer-container-texto">(47) 99927-9745</h3>
  <h3 class="footer-container-texto">jessica siqueira santos de moura</h3>
  <p>Nós Visite!</p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3560.8310870876167!2d-49.09138675007419!3d-26.813503183087803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dee1c9d3198baf%3A0x100f47658d61a3b8!2sRua+Dr.+Pedro+Zimmermann%2C+6953+-+Vila+Itoupava%2C+Blumenau+-+SC%2C+89068-005!5e0!3m2!1spt-BR!2sbr!4v1543086490403" frameborder="0" style="border:0" allowfullscreen></iframe>
  <h6 class="footer-container-footer">Douglas Royer</h6>
  <h6 class="footer-container-footer">Luiz Felipe Pereira Royer</h6>
  <h6 class="footer-container-footer">Copyright @ 2018 JehBoutique.com</h6>
</footer>
