.create-form {
  min-width: 150px;
  width: 100%;
}

.field-full-width {
  width: 100%;
}

input {
  width: 40px;
}

table {
  width: 100%;
}

.main-container-next{
  color: #000;
}

.main-container-back:hover {
  background: rgba(248, 2, 96, 0.8764);
  color: #000;
}

.main-container-next:hover {
  background: rgba(0, 0, 255, 0.8764);
  color: #fff;
}
